h4{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
html {
    background-color:black;
}
img{
    margin-left: 800px;
}
.details{
    margin-left: 700px;
    margin-right: 700px;
}