h4{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: black;
}
html {
    background-color:lightgray;
    color: black;
    text-align: center;
}
.details{
    margin-left: 700px;
    margin-right: 700px;
}

img{
    height: 300px;
}


